<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="cssSheet.css" rel="stylesheet" />
    <style>
      .jumbotron {
        background-color: #f4511e;
        color: #fff;
        padding: 100px 25px;
        padding-bottom: 20%;
        font-family: Montserrat, sans-serif;
      }
    </style>
  </head>
  <body>
    <%- include('common/header'); -%>

    <div class="container-fluid" style="margin-top: 50px">
      <div class="jumbotron text-center">
        <h1>Movies & Tv Series in One Place</h1>
        <br />
        <p>Find ratings and reviews for the newest movie and TV shows.</p>
      </div>
    </div>
  </body>
</html>
